* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.nav-bar{
    background-color: rgb(17, 6, 37);
    margin: 0px;
    height: 75px;
    display: flex;
    border-bottom: 2px solid rgb(62, 48, 142);
    position:fixed;
    top:0%;
    z-index: 1;
    width: 100%;

}
.heading{
    position: relative;
    top: 65px;
}

.heading-1{
    margin: 0px;
    font-size: 20px;
    padding: 25px;
    font-style: italic;
    font-weight: bold;
    width: 50%;
    color: rgb(184, 180, 213);
}
.nav-bar-links {
    width: 50%;
    margin-top: 25px;

}
.nav-bar-links a {
   width: 25%;
   padding-left: 28px; 
   padding-right: 28px;
   font-size: 20px;
   text-decoration: none;
   color: rgb(184, 180, 213);
   font-style: italic;
  border-left: 2px solid rgb(75, 59, 167);
}
.heading h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(18, 18, 66);
}
.heading p {
    text-align: center;
    width: 65%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-size: 24px;
    color: rgb(22, 22, 68);
    margin-top: 5px;
}
.clock {
    margin-top: 80px;

}
.clock h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clock p {
    text-align: center;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.clock img {
    width: 75%;
margin-left: 140px;
}
.calculator h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.calculator p {
    text-align: center;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.calculator img {
    width: 50%;
margin-left: 380px;

}
.form h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form p {
    text-align: center;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.form img {
    width: 50%;
margin-left: 380px;
border: 2px solid rgb(210, 226, 36);
border-radius: 8px;

}
.weather h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weather p {
    text-align: center;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.weather img {
    width: 50%;
margin-left: 380px;
border: 2px solid rgb(50, 14, 108);
border-radius: 8px;

}
.hooli h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hooli p {
    text-align: center;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.hooli img {
    width: 90%;
    margin-left:5% ;
border: 2px solid rgb(50, 14, 108);
border-radius: 8px;

}
.pied-piper h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pied-piper p {
    text-align: center;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.pied-piper img {
    width: 90%;
    margin-left:5% ;
border: 2px solid rgb(50, 14, 108);
border-radius: 8px;

}
.other h3 {
    text-align: center;
    height: 120px;
    background-color: rgb(10, 10, 36);
    font-size: 36px;
    color: skyblue;
    padding: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.other p {
    text-align: center;
    width: 70%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    height: 90px;
    background-color: white;
    font-size: 30px;
    color: rgb(37, 86, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
@media screen and (max-width:420px) {
    .heading{
        position: relative;
        top: 60px;
        height: 290px;
    }
    .nav-bar{
        height: 80px;
        overflow-x: scroll;
        word-break: keep-all;
        display: block;
    }
    .heading-1 {
        width: 100%;
        font-size: 20px;
        padding: 8px;
        padding-top: 16px;
        padding-bottom: 0px;
        text-align: center;
    }
    .nav-bar-links {
   width: 100%;
        margin-top: 12px;
        overflow-x: scroll;
        word-break: keep-all;
        padding-left: 6px;

    
    }
    .nav-bar-links a {
        width: 20%;
        padding-left: 10px; 
        padding-right: 10px;
        font-size: 14px;
        text-decoration: none;
        color: rgb(184, 180, 213);
        font-style: italic;
       border-left: 2px solid rgb(75, 59, 167);
       word-break: keep-all;
     }
    .heading h1 {
        text-align: center;
        font-size: 26px;
        color: rgb(18, 18, 66);
        margin-bottom: 0px;
    }
    .heading p {
        text-align: center;
        width: 80%;
        margin-inline-start: auto;
        margin-inline-end: auto;
        font-size: 18px;
        color: rgb(22, 22, 68);
        margin-top: 5px;
        position: relative;
        top: 30px;
    }
    .clock {
        margin-top: 40px;
    
    }
    .clock h3 {
        text-align: center;
        height: 90px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding: 24px;
        margin: 5px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .clock p {
        text-align: center;
        height: 50px;
        background-color: white;
        font-size: 18px;
        margin: 0px 10px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .clock img {
        width: 75%;
    margin-left: 12%;
    }
    .calculator h3 {
        text-align: center;
        height: 80px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding:  25px 36px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .calculator p {
        text-align: center;
        height: 50px;
        background-color: white;
        font-size: 18px;
        margin: 10px 10px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .calculator img {
        width: 70%;
    margin-left: 15%;
    
    }
    .form h3 {
        text-align: center;
        height: 80px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding: 25px 36px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .form p {
        text-align: center;
        height: 50px;
        background-color: white;
        font-size: 18px;
        margin: 10px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .form img {
        margin-top: 10px;
        width: 70%;
    margin-left: 15%;
    border: 2px solid rgb(210, 226, 36);
    border-radius: 8px;
    
    }
    .weather h3 {
        text-align: center;
        height: 80px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding: 25px 36px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .weather p {
        text-align: center;
        height: 50px;
        background-color: white;
        font-size: 18px;
        margin: 10px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .weather img {
        width: 70%;
    margin-left: 15%;
    border: 2px solid rgb(50, 14, 108);
    border-radius: 8px;
    
    }
    .hooli h3 {
        text-align: center;
        height: 80px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding: 25px 36px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .hooli p {
        text-align: center;
        height: 50px;
        margin: 10px;
        background-color: white;
        font-size: 18px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .hooli img {
        width: 90%;
        margin-left:5% ;
    border: 2px solid rgb(50, 14, 108);
    border-radius: 8px;
    
    }
    .pied-piper h3 {
        text-align: center;
        height: 80px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding: 25px 36px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .pied-piper p {
        text-align: center;
        height: 50px;
        background-color: white;
        font-size: 18px;
        margin: 10px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .pied-piper img {
        width: 90%;
        margin-left:5% ;
    border: 2px solid rgb(50, 14, 108);
    border-radius: 8px;
    
    }
    .other h3 {
        text-align: center;
        height: 80px;
        background-color: rgb(10, 10, 36);
        font-size: 24px;
        color: skyblue;
        padding: 25px 36px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .other p {
        text-align: center;
        width: 70%;
        margin-inline-start: auto;
        margin-inline-end: auto;
        height: 80px;
        background-color: white;
        font-size: 18px;
        color: rgb(37, 86, 105);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    
    }
}

